.jumbotron {
    background-image: url(../img/agape-trn-H-XOmJhbM3s-unsplash.jpg);
    background-attachment: fixed;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.call-to-action {
    background-image: url(../img/koen-eijkelenboom-Qpjl_dXQrD8-unsplash.jpg);
    background-attachment: fixed;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}