

.jumbotron {
    background-image: url(../img/agape-trn-H-XOmJhbM3s-unsplash.jpg);
    height: 50vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sm-img {
    height:40vh;
}
